@model Vehicle

<h1> Add A New Vehicle </h1>

<form method="post">
   Id:
   <input asp-for="Id" />
   <br />

   Year:
   <input asp-for="Year" />
   <br />

   Make:
   <input asp-for="Make" />
   <br />

   Model:
   <input asp-for="Model" />
   <br />

   Vin:
   <input asp-for="Vin" />
   <br />

   Color:
   <input asp-for="Color" />
   <br />

   User Id:
   <input asp-for="UserId" />
   <br />

   <input type="submit" value="Add New Vehicle" class="btn btn-sm btn-info" />
</form>
