@model Vehicle

<fieldset class="border d-inline-block p-3 shadow">
   <legend> Add A Vehicle </legend>

   <form method="post">
      <table>
         <partial name="AddEditPartial" model="@Model" />

         <tfoot>
            <tr> <td class="pl-2 pr-2" colspan="2"> <hr /> </td> </tr>

            <tr>
               <td class="text-center" colspan="2">
                  <input class="btn btn-sm btn-outline-success mr-1" type="submit" value="Add Vehicle" />
                  <a asp-controller="Vehicle" asp-action="Index" class="btn btn-sm btn-outline-primary ml-1"> Cancel </a>
               </td>
            </tr>
         </tfoot>
      </table>
   </form>
</fieldset>
