@model Fillup

<fieldset class="border d-inline-block p-3 shadow">
   <legend> Add Fillup </legend>

   <form method="post">
      <input type="hidden" asp-for="VehicleId" />

      <table>
         @if (ViewData.ModelState.ErrorCount > 0)
         {
            <thead>
               <tr>
                  <td colspan="2">
                     <div asp-validation-summary="All" class="text-danger"> </div>
                  </td>
               </tr>

               <tr> <td class="pl-2 pr-2" colspan="2"> <hr /> </td> </tr>
            </thead>
         }

         <tbody>
            <tr>
               <th class="pr-1 text-right"> Date: </th>
               <td class="pl-1"> <input asp-for="Date" class="rounded" required /> </td>
            </tr>

            <tr>
               <th class="pr-1 text-right"> Gallons: </th>
               <td class="pl-1"> <input asp-for="Gallons" class="rounded" type="number" step="0.001" required /> </td>
            </tr>

            <tr>
               <th class="pr-1 text-right"> Total Cost: </th>
               <td class="pl-1"> <input asp-for="TotalCost" class="rounded" type="number" step="0.01" required /> </td>
            </tr>

            <tr>
               <th class="pr-1 text-right"> Odometer: </th>
               <td class="pl-1"> <input asp-for="Odometer" class="rounded" type="number" step="1" required /> </td>
            </tr>

            <tr>
               <th class="pr-1 text-right"> Trip Odometer: </th>
               <td class="pl-1"> <input asp-for="TripOdometer" class="rounded" type="number" step="0.1" required /> </td>
            </tr>
         </tbody>

         <tfoot>
            <tr> <td class="pl-2 pr-2" colspan="2"> <hr /> </td> </tr>

            <tr>
               <td class="text-center" colspan="2">
                  <input class="btn btn-sm btn-outline-warning mr-1 text-dark" type="submit" value="Add" />
                  <a asp-controller="Vehicle" asp-action="Details" asp-route-id="@Model.VehicleId" class="btn btn-sm btn-outline-primary ml-1"> Cancel </a>
               </td>
            </tr>
         </tfoot>
      </table>

   </form>
</fieldset>
