@model Fillup

<fieldset class="border d-inline-block mb-3 mr-4 p-3 pt-0 shadow align-top">
   <legend> Delete Fillup </legend>

   <table>
      <partial name="DeleteDetailsPartial" model="@Model" />

      <tfoot>
         <tr> <td class="pl-2 pr-2" colspan="2"> <hr /> </td> </tr>

         <tr>
            <td class="text-center" colspan="2">
               <span class="bg-warning text-center text-danger pl-2 pr-2"> Are You Sure? </span>
            </td>
         </tr>

         <tr> <td class="pl-2 pr-2" colspan="2"> <hr /> </td> </tr>

         <tr>
            <td class="text-center" colspan="2">
               <form method="post">
                  <input type="hidden" asp-for="Id" />
                  <input type="hidden" asp-for="VehicleId" />
                  <input type="submit" value="Delete Fillup" class="btn btn-sm btn-outline-danger mr-1" />
                  <a asp-controller="Fillup" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-primary ml-1"> Cancel </a>
               </form>
            </td>
         </tr>
      </tfoot>
   </table>
</fieldset>
