@model Fillup

<fieldset class="border d-inline-block mb-3 mr-4 p-3 pt-0 shadow align-top">
   <legend> Fillup Details </legend>

   <table>
      <partial name="DeleteDetailsPartial" model="@Model" />

      <tfoot>
         <tr> <td class="pl-2 pr-2" colspan="2"> <hr /> </td> </tr>

         <tr>
            <td class="text-center" colspan="2">
               <a asp-controller="Fillup" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-warning mr-1 text-dark">
                  Edit
               </a>
               <a asp-controller="Fillup" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-danger ml-1 mr-1">
                  Delete
               </a>
               <a asp-controller="Vehicle" asp-action="Details" asp-route-id="@Model.VehicleId" class="btn btn-sm btn-outline-primary ml-1">
                  Back
               </a>
            </td>
         </tr>
      </tfoot>
   </table>
</fieldset>
