@model User

<fieldset class="border d-inline-block p-3 shadow">
   <legend> Reset Password </legend>

   <table>
      <tbody>
         <tr>
            <th class="pr-1 text-right"> UserName: </th>
            <td class="pl-1"> @Model.UserName </td>
         </tr>
      </tbody>

      <tfoot>
         <tr> <td class="pl-2 pr-2" colspan="2"> <hr /> </td> </tr>
         <tr> <td class="text-center" colspan="2"> Your Password Has Been Reset </td> </tr>
         <tr> <td class="text-center" colspan="2"> Your New Password Has Been Emailed To You </td> </tr>
         <tr> <td class="text-center" colspan="2"> Login Above </td> </tr>
      </tfoot>
   </table>
</fieldset>
