@model User

<fieldset class="border d-inline-block p-3 shadow">
   <legend> Reset Password </legend>

   <form method="post">
      <input type="hidden" asp-for="Password" />

      <table>
         @if (ViewData.ModelState.ErrorCount > 0)
         {
            <thead>
               <tr>
                  <td colspan="2">
                     <div asp-validation-summary="All" class="text-danger"> </div>
                  </td>
               </tr>

               <tr> <td class="pl-2 pr-2" colspan="2"> <hr /> </td> </tr>
            </thead>
         }

         <tbody>
            <tr>
               <th class="pr-1 text-right"> UserName: </th>
               <td class="pl-1">
                  <input asp-for="UserName" type="email" class="rounded" placeholder="EMail Address" title="EMail Address" required />
               </td>
            </tr>
         </tbody>

         <tfoot>
            <tr> <td class="pl-2 pr-2" colspan="2"> <hr /> </td> </tr>

            <tr>
               <td class="text-center" colspan="2">
                  <input type="submit" class="btn btn-sm btn-outline-success mr-1" value="Reset Password" />
                  <a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-outline-secondary ml-1"> Cancel </a>
               </td>
            </tr>
         </tfoot>
      </table>

   </form>
</fieldset>
